@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Scheherazade+New&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e8f5e9;
  color: #1b5e20;
}

.container {
  max-width: 720px;
  margin: 60px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 25px;
}

.header h1 {
  font-size: 2.4em;
}

.header p {
  color: #666;
  margin-top: 5px;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.search-box input {
  flex: 1;
  padding: 10px 14px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.button-group {
  display: flex;
  gap: 8px;
}

.button-group button {
  background: #43a047;
  border: none;
  color: white;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.button-group button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.ayah-card {
  background: #f3f6f4;
  border-radius: 12px;
  padding: 15px 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

.ayah-text {
  font-size: 20px;
  text-align: right;
  flex: 1;
}



.listen-btn {
  background: #43a047;
  border: none;
  color: white;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
}

.listen-btn:hover {
  transform: scale(1.05);
  opacity: 0.2;
}
